html .productView-alsoBought-heading {
    text-transform: none;
}

.productView-alsoBought-buttons .button {
    display: inline-block;
}

.productView-options input[type="radio"] {
    display: inline-block;
}
