
:root {
    --flexbox-grid-container-width:1272px;
    --flexbox-grid-container-spacing:24px;
    --flexbox-grid-half-gutter-width:12px;
    --flexbox-grid-half-gutter-width--mobile:8px;
    --form-checkbox-width:20px;
    --form-checkbox-background-color:var(--color-white);
    --form-checkbox-border:1px solid var(--color-gray-50);
    --form-checkbox-background-icon:none;
    --form-checkbox-label-color:var(--color-text);
    --form-checkbox-background-color-hover:var(--color-white);
    --form-checkbox-border-hover:var(--form-checkbox-border);
    --form-checkbox-background-icon-hover:none;
    --form-checkbox-label-color-hover:var(--form-checkbox-label-color);
    --form-checkbox-background-color-pressed:var(--color-white);
    --form-checkbox-border-pressed:1px solid var(--color-gray-60);
    --form-checkbox-label-color-pressed:var(--form-checkbox-label-color);
    --form-checkbox-background-color-disabled:var(--color-white);
    --form-checkbox-border-disabled:1px solid var(--color-gray-60);
    --form-checkbox-background-icon-disabled:var(--color-text);
    --form-checkbox-label-color-disabled:var(--color-gray-60);
    --form-checkbox-background-color-checked:var(--color-text);
    --form-checkbox-border-checked:1px solid var(--color-gray-60);
    --form-checkbox-label-color-checked:var(--color-text);
    --form-radio-width:20px;
    --form-radio-background-color:var(--color-white);
    --form-radio-border:1px solid var(--color-text);
    --form-radio-background-icon:none;
    --form-radio-label-color:var(--color-text);
    --form-radio-background-color-hover:var(--color-white);
    --form-radio-border-hover:1px solid var(--color-text);
    --form-radio-background-icon-hover:none;
    --form-radio-label-color-hover:var(--color-text);
    --form-radio-background-color-pressed:var(--color-white);
    --form-radio-border-pressed:1px solid var(--color-text);
    --form-radio-label-color-pressed:var(--color-text);
    --form-radio-background-color-disabled:var(--color-white);
    --form-radio-border-disabled:1px solid var(--color-gray-60);
    --form-radio-background-icon-disabled:none;
    --form-radio-label-color-disabled:var(--color-gray-60);
    --form-radio-background-color-checked:var(--color-white);
    --form-radio-border-checked:1px solid var(--color-text);
    --form-radio-label-color-checked:var(--color-text);
    --form-select-border-radius:8px;
    --form-select-color:var(--color-text);
    --form-select-placeholder-color:var(--color-text);
    --form-select-border:1px solid var(--color-gray-50);
    --form-select-background-color:var(--color-white);
    --form-select-box-shadow:none;
    --form-select-color-hover:var(--form-select-color);
    --form-select-border-hover:var(--form-select-border);
    --form-select-background-color-hover:var(--form-select-background-color);
    --form-select-box-shadow-hover:none;
    --form-select-color-focus:var(--form-select-color);
    --form-select-border-focus:1px solid var(--color-primary-10);
    --form-select-background-color-focus:var(--form-select-background-color);
    --form-select-box-shadow-focus:none;
    --form-select-color-disabled:var(--color-gray-60);
    --form-select-border-disabled:1px solid var(--color-gray-50);
    --form-select-background-color-disabled:var(--form-select-background-color);
    --form-select-box-shadow-disabled:none;
    --form-dropdown-select-border-radius:16px;
    --form-dropdown-select-color:var(--color-text);
    --form-dropdown-select-placeholder-color:var(--color-text);
    --form-dropdown-select-border:1px solid var(--color-text);
    --form-dropdown-select-background-color:var(--color-white);
    --form-dropdown-select-box-shadow:none;
    --form-dropdown-select-color-hover:var(--color-primary-10);
    --form-dropdown-select-border-hover:1px solid var(--color-primary-10);
    --form-dropdown-select-background-color-hover:var(--form-dropdown-select-background-color);
    --form-dropdown-select-box-shadow-hover:none;
    --form-dropdown-select-color-focus:var(--color-primary-10);
    --form-dropdown-select-border-focus:1px solid var(--color-primary-10);
    --form-dropdown-select-background-color-focus:var(--form-dropdown-select-background-color);
    --form-dropdown-select-box-shadow-focus:0 1px 1px rgba(0,0,0,.15),0 1px 2px 1px rgba(0,0,0,.25);
    --form-dropdown-select-color-disabled:var(--color-gray-60);
    --form-dropdown-select-border-disabled:1px solid var(--color-gray-50);
    --form-dropdown-select-background-color-disabled:var(--form-dropdown-select-background-color);
    --form-dropdown-select-box-shadow-disabled:none;
    --form-dropdown-select-color-open:var(--color-primary-10);
    --form-dropdown-select-border-open:1px solid var(--color-primary-10);
    --form-dropdown-select-background-color-open:var(--form-dropdown-select-background-color);
    --form-dropdown-select-box-shadow-open:none;
    --form-dropdown-popup-border:var(--form-dropdown-select-border-open);
    --form-dropdown-popup-background:var(--color-white);
    --form-dropdown-popup-item-color:var(--color-text);
    --form-dropdown-popup-item-border:1px solid var(--color-gray-30);
    --form-dropdown-popup-item-color-hover:var(--color-primary-10);
    --form-dropdown-popup-item-color-focus:var(--color-primary-10);
    --form-dropdown-popup-item-color-active:var(--color-primary-10);
    --form-label-distance-bottom:5px;
    --form-label-font-weight:var(--font-weight-bold);
    --form-label-font-size:var(--font-size-small);
    --form-input-font-family:var(--font-family-base);
    --form-input-font-size-base:var(--font-size-base);
    --form-input-line-height-base:var(--line-height-base);
    --form-input-border-radius:8px;
    --form-label-color:var(--color-text);
    --form-input-color:var(--color-text);
    --form-input-placeholder-color:var(--color-gray-60);
    --form-input-border:1px solid var(--color-gray-50);
    --form-input-background:var(--color-white);
    --form-input-box-shadow:none;
    --form-input-color-hover:var(--form-input-color);
    --form-input-border-hover:var(--form-input-border);
    --form-input-background-hover:var(--form-input-background);
    --form-input-box-shadow-hover:none;
    --form-input-color-focus:var(--form-input-color);
    --form-input-border-focus:1px solid var(--color-primary-10);
    --form-input-background-focus:var(--form-input-background);
    --form-input-box-shadow-focus:none;
    --form-input-color-disabled:var(--color-gray-50);
    --form-input-border-disabled:var(--form-input-border);
    --form-input-background-disabled:var(--color-gray-20);
    --form-input-box-shadow-disabled:none;
    --form-element-feedback-border-invalid:1px solid var(--color-danger);
    --form-element-feedback-border-valid:1px solid var(--color-success-dark);
    --form-feedback-color-valid:var(--color-success-dark);
    --form-feedback-color-invalid:var(--color-danger-dark);
    --quantity-selector-border-radius:8px;
    --quantity-selector-input-font-family:var(--font-family-base);
    --quantity-selector-input-font-size:var(--font-size-base);
    --quantity-selector-input-font-weight:var(--font-weight-base);
    --quantity-selector-button-icon-width:16px;
    --quantity-selector-button-icon-height:16px;
    --quantity-selector-background:var(--color-white);
    --quantity-selector-border:1px solid #d3d3d4;
    --quantity-selector-input-color:var(--color-text);
    --quantity-selector-button-icon-color:var(--color-text);
    --quantity-selector-button-icon-color-hover:var(--quantity-selector-button-icon-color);
    --quantity-selector-button-icon-color-focus:var(--quantity-selector-button-icon-color);
    --quantity-selector-button-icon-color-disabled:var(--color-gray-60);
    --color-primary-10:#cd1719;
    --color-primary-20:#c51618;
    --color-primary-30:#bc1517;
    --color-primary-40:#b31416;
    --color-primary-50:#aa1315;
    --color-primary:var(--color-primary-10);
    --color-green-10:#5e6638;
    --color-green-20:#585f34;
    --color-green-30:#525931;
    --color-green-40:#4c522d;
    --color-green-50:#464c2a;
    --color-orange-10:#ee7202;
    --color-orange-20:#df6b02;
    --color-orange-30:#cf6302;
    --color-orange-40:#c05c02;
    --color-orange-50:#ac5202;
    --color-blue-10:#004767;
    --color-blue-20:#004061;
    --color-blue-30:#003d5c;
    --color-blue-40:#003957;
    --color-blue-50:#003652;
    --color-brown-10:#7a6e66;
    --color-brown-20:#72675e;
    --color-brown-30:#6a6058;
    --color-brown-40:#625851;
    --color-brown-50:#59514a;
    --color-white-rgb:255, 255, 255;
    --color-black-rgb:0 0 0;
    --color-white:rgb(255, 255, 255);
    --color-gray-10:#f8f8f8;
    --color-gray-15:#f3f3f3;
    --color-gray-20:#eaeaea;
    --color-gray-25:#d6d6d6;
    --color-gray-30:#b1b1b1;
    --color-gray-40:#54565a;
    --color-black:rgb(0,0,0);
    --color-skeleton-light:var(--color-gray-10);
    --color-skeleton-dark:var(--color-gray-20);
    --color-text:var(--color-black);
    --body-bg:var(--color-white);
    --color-success:#65c179;
    --color-success-dark:#5bae6d;
    --color-success-darker:#519a61;
    --color-warning:#ffba00;
    --color-warning-dark:#e6a700;
    --color-warning-darker:#cc9500;
    --color-danger:#cb5757;
    --color-danger-dark:#e46565;
    --color-danger-darker:#f86f6f;
    --font-family-base:"Montserrat",sans-serif;
    --font-weight-base:400;
    --font-weight-bold:500;
    --line-height-base:1.4;
        --letter-spacing:0.03em;
    --font-size-extra-small:12px;
    --font-size-smaller:12px;
    --font-size-small:14px;
    --font-size-medium-small:14px;
    --font-size-medium:15px;
    --font-size-medium-large:17px;
    --font-size-xl:21px;
    --font-size-xl-2xl:21px;
    --font-size-base:15px;
    --font-size-large:16px;
    --headings-font-family:"Montserrat",sans-serif;
    --headings-font-weight-light:400;
    --headings-font-weight-base:500;
    --headings-line-height:1.1;
    --h1-line-height:1.6;
    --h1-font-size:17px;
    --h2-font-size:17px;
    --h3-font-size:17px;
    --h4-font-size:15px;
    --h5-font-size:15px;
    --h6-font-size:14px;
    --subheading-font-size:17px;
    --display-font-size:27px;
    --icon-size:1.5rem;
    --icon-size-small:1rem;
    --icon-size-large:4rem;
    --transition-duration:300ms;
    --ease-out:cubic-bezier(0,0,0.2,1);
    --ease-in:cubic-bezier(0.4,0,1,1);
    --ease-in-out:cubic-bezier(0.4,0,0.2,1);
    --fast-in-slow-out-1:cubic-bezier(0.065,0.595,0.030,0.850);
    --slow-in-fast-out-1:cubic-bezier(.27,.05,.63,.13);
    --transition:var(--transition-duration) var(--ease-out);


    --spacing-y-small:6px;
    --spacing-x-small:15px;
    --spacing-y-base:12px;
    --spacing-x-base:14px;
    --spacing-y-large:17px;
    --spacing-x-large:24px;
    --product-image-aspect-ratio:1/1;
    --input-color:var(--color-text);
    --input-focus-border-color:var(--color-primary-10);
    --input-placeholder-color:var(--color-gray-dusty);
    --input-border-radius:2px;
    --border-color:var(--color-black);
    --css-utils-spacing-base:8px;
    --css-utils-color-primary:var(--color-primary-10);
    --css-utils-color-secondary:var(--color-secondary);
    --css-utils-color-success:var(--color-success);
    --css-utils-color-danger:var(--color-danger);
    --css-utils-color-warning:var(--color-warning);
    --css-utils-color-gray:var(--color-gray-30);
    --css-utils-color-gray-light:var(--color-gray-10);
    --css-utils-color-gray-dark:var(--color-gray-60);
    --css-utils-color-body:var(--text-color);
    --css-utils-border-width:1px;
    --css-utils-border-color:var(--border-color);
    --css-utils-border-radius-sm:2px;
    --css-utils-border-radius:4px;
    --css-utils-border-radius-lg:5px;
    --css-utils-border-radius-round:100%;
    --css-utils-box-shadow-sm:0 2px 4px rgba(0,0,0,.075);
    --css-utils-box-shadow:0 10px 45px rgba(0,0,0,.1);
    --css-utils-box-shadow-lg:0 16px 48px rgba(0,0,0,.175);
    --css-box-shadow-4:0 6px 24px -1px rgba(0,0,0,.12);
    --css-box-shadow-5:0px -6px 24px rgba(0,0,0,.08);
    --component-padding:32px;
    --header-height:72px
}




*, ::after, ::before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #ffffff;

/*  --tw-ring-color: rgba(59,130,246,.5);*/
  --tw-ring-offset-shadow: 0 0 #000000;
  --tw-ring-shadow: 0 0 #000000;
  --tw-shadow: 0 0 #000000;
  --tw-shadow-colored: 0 0 #000000;
  
}

*, ::after, ::before {
  box-sizing: border-box;
}

.text-h2, .text-h4 {
  font-weight: var(--headings-font-weight-base);
  letter-spacing: var(--letter-spacing);
  line-height: var(--headings-line-height);
}


.absolute {
  position: absolute;
}
.inset-0 {
  inset: 0;
}
.z-20 {
  z-index: 20;
}
.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}

p {
  margin-bottom:0px;
}

a {
  color: #000;
  color: var(--color-text);
  text-decoration: none;
  transition: all .3s ease-in-out;
}
.mt-12 {
  margin-top: 3rem;
}
[role="button"], button {
  cursor: pointer;
}

.relative {
  position: relative;
}
.h-4 {
  height: 1rem;
}
.w-4 {
  width: 1rem;
}


.text-h4 {
  font-size: var(--h4-font-size);
}
.inset-0 {
  inset: 0;
}
.absolute {
  position: absolute;
}
.icon, .icon svg {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.icon {
  height: 1.14286rem;
  width: 1.14286rem;
  display: inline-block;
  vertical-align: middle;
}
.icon svg{
  color: #000000;
}

.\!w-full {
  width:100%!important
}
.md\:\!w-full {
  width:100%!important
}

.sm\:\!w-auto {
  width:auto!important
}
.lg\:\!w-auto {
  width:auto!important
}
.sm\:w-auto {
  width:auto
}
